/PrimitivesTest.class
/.classpath
/.project
/.settings
/bin
/BitOperations.class
/Numbers.class
/SportLotoAppl.class
/IsraelIdentity.class
/MyArrays.class
/Matrices.class
/MatricesTest.class
/ObjectsTests.class
/Strings.class
